<div class="card" style="width: 18rem">
  <img  class="card-img-top" src="/images/<%= truck.photo || 'foodtruck.png' %>" alt="<%= truck.name %>" >
  <div class="card-body">
    <h5 class="card-title"><%= truck.name %></h5>
    <p class="card-text"><%= truck.description %></p>
    <a href="<%= truck.slug %>" class="btn btn-info">Details</a>
    <a href="/truck/<%= truck.slug %>/edit" class="btn btn-secondary">Edit</a>
  </div>
</div>

