    <div>
        <img src="/images/<%= truck.photo || 'foodtruck.png' %>" alt="food truck" height="150">
        <h2><%= truck.name %></h2>
        <p>Desc: <%= truck.description %></p>
        <p>Tags: <%= truck.tags %></p>
        <a href="<%= truck.slug %>">Details</a>
        <hr>
    <div>