<%- include('./partials/header.ejs', { title }) %>

<div class="container mb-5">
  <div class="row justify-content-center">
    <form
      action="/add"
      method="POST"
      class="col-4"
      enctype="multipart/form-data"
    >
      <h2 class="mb-5"><%= title %></h2>

      <div class="mb-3">
        <label for="name" class="form-label">Truck Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="truck name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description"></textarea>
      </div>

     <div class="my-3 form-check row d-flex flex-wrap">
        <% choices.map((choice) => { %>
        <div class="col mx-1">
          <input
            class="form-check-input"
            type="checkbox"
            name="tags"
            id="<%= choice %>"
            value="<%= choice %>"
          />
          <label class="form-check-label" for="<%= choice %>"
            ><%= choice %></label
          >
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control dropdown-toggle"
          id="location"
          aria-describedby="location"
          name="location[address]"
          data-bs-toggle="dropdown"
        />
        <ul class="dropdown-menu col-3" id="suggestions"></ul>
      </div>

          <div class="my-3 row d-flex">
        <div class="col">
          <label for="latitude" class="form-label">Latitude</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            aria-describedby="latitude"
            name="location[coordinates][1]"
          />
        </div>
        <div class="col">
          <label for="longitude" class="form-label">Longitude</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            aria-describedby="longitude"
            name="location[coordinates][0]"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="photo" class="form-label">Photo</label>
        <input
          type="file"
          class="form-control"
          id="photo"
          aria-describedby="photo"
          name="photo"
          accept="image/png, image/jpeg, image/jpg"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include('./partials/footeropen.ejs') %>

<script type="module" src="/modules/autocomplete.js"></script>

<%- include('./partials/footerclose.ejs') %>

